
body{
    background-color: rgb(9, 13, 39);
    font-family:'Poppins', Courier, monospace;
    margin: 0;
}
.card-grid{
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    gap: 1rem;
}
.card {
    border-radius: .5rem;
    background-color: #141212;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 3px 2px #00ffe5;
    transform-style: preserve-3d;
    transition: 300ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y,0)) translateY(var(--translate-y,0));
    
}
.card .front hr{
    opacity: .1;
    border: 1px solid;
}
.header {
    width: 75vw;
    margin: auto;
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;
    color: azure;
    padding: 1rem;
}
.form-group{
    margin : 1rem .7rem;
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top: .3rem;
    font-size: 1.15rem;
    background-color: black;
    border-radius: .3rem;
    padding: .4rem .7rem;
    color: azure;
    transition: ease-in-out 200ms;
}
.form-group .btn:hover{
    transform: scale(1.02) translateY(5px);
    /* color: #00ffe5; */
    /* font-weight: bold; */
    letter-spacing: .03rem;
    border: 2px solid #00ffe5;
    cursor: pointer;
}
.header label {
    font-size: .75rem;
    opacity: .7;
}
.header select ,
.header input{
    font-size: 1.1rem;
    color: azure;
    background-color: #141212;
}
.container {
    max-width: 900px;
    width: 80vw;
    margin: auto;
    /* margin: .8rem 2rem ; */
}
.card:hover{
    box-shadow: 0 0 5px 4px #00ffe5;
    --translate-y: -5px;
    
}
.card .front{
    left: 0;
}
.card .front,
.card .back{
    position: absolute;
    padding: 2rem 1rem;
    backface-visibility: hidden;
}

.card .back{
    transform: rotateY(180deg);
}

.card.flip{
    --rotate-y: 180deg;
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .3rem;
    font-size: .9rem;
    opacity: .8;
}
.flashcard-option:first-child{
    margin-top: 0px
}